* {
  opacity: 1;
  font-family: "Plus Jakarta Sans";
}

.background-main {
  background-color: #e5e5f7;
  opacity: 1;
  background-image: radial-gradient(#0d6efd 0.75px, #e5e5f7 0.75px);
  background-size: 15px 15px;
}

.data-button {
  width: 45%;
}

.form-select {
  font-family: "Plus Jakarta Sans";
}